@{
    ViewBag.Title = "Login";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}


<div class="login-box">
    <div class="login-logo">
        <img src="~/Images/bankmayora_logo.png" />
        @*<img src="~/Images/Logo.png" />*@
        <p></p>
        <a href="../../index2.html" ><b>Login</b> PORTAL</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="UserName" id="UserName" placeholder="User Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <br />
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="Password" id="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <br />
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <!-- /.social-auth-links -->
        @*<a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>*@
    </div>
    <!-- /.login-box-body -->
</div>

@if (ViewBag.RPList != null)
{
    foreach (var link in ViewBag.RPList)
    {
        <iframe style="visibility: hidden; width: 1px; height: 1px" src="@link/account/logoff"></iframe>
    }
}